
 <% layout("/layouts/boilerplate.ejs")  %>

<div class="row mt-5">
    <div class="alert alert-danger col-6 offset-3 error-container" role="alert">
        <h1><%=err.status||500%></h1>
        <br>
        <p><%=err.message||"Something went wrong"%></p>
    </div>
</div>