
.navbar{
    height: rem;
    background-color: white;
}

.fa-bluesky{
    color: #fe4244;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}


.f-info-links a{
    text-decoration: none;
    font-weight: 500;
    color: #222222 !important;
}
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-brand{
    font-weight: 500;
}

.f-info{
    width: 100%;
}

.f-info-social{
    width: 100%;
}
.f-info-social i{
    font-size: 1.4rem;
    margin-right: 1rem;
}

.f-info{
    background-color: #e6e6e6 !important;
    display: flex;
    flex-direction: column;
    height: 6rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    background-color: white;
    text-align: center;
}
