
body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex : 1;
}


.navbar{
    height: rem;
    background-color: white;
}


/* footer */


.fa-bluesky{
    color: #fe4244;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}


.f-info-links a{
    text-decoration: none;
    font-weight: 500;
    color: #222222 !important;
}
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-brand{
    font-weight: 500;
}

.f-info{
    width: 100%;
}

.f-info-social{
    width: 100%;
}
.f-info-social i{
    font-size: 1.4rem;
    margin-right: 1rem;
}

.f-info{
    background-color: #e6e6e6 !important;
    display: flex;
    flex-direction: column;
    height: 6rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    background-color: white;
    text-align: center;
}


/* cards */

.card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    height: 15rem;
}


.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
    color: #222222 !important;
}

.listing-link{
    text-decoration: none;
}

/* card effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}


.add-btn,.edit-btn{
    background-color: #fe4244;
    color: white;
    border: none;
    width: 80px;
    height: 40px;
    border-radius: 12px;
}

